JWT_SECRET=eppHT_secret_XXXX
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hidrotecnica14@gmail.com
SMTP_PASS=contraseña_app_google
SMTP_FROM=HidroTecnica EPP <hidrotecnica14@gmail.com>
APP_URL=https://eppht-production.up.railway.app
PORT=3001
